In [2]:
import csv
import cv2
import glob
import os
import xml.etree.ElementTree as ET
import numpy as np

In [8]:
DATASET_FOLDER = "./annotation/"
TRAIN_OUTPUT_FILE = "train.csv"
VALIDATION_OUTPUT_FILE = "validation.csv"
SPLIT_RATIO = 0.8

In [9]:
if not os.path.exists(DATASET_FOLDER):
        print("Dataset not found")

In [55]:
class_names = {}
k = 0
output = []
xml_files = glob.glob("{}/*".format(DATASET_FOLDER))
# # xml_files

In [56]:
import re
alist=[]
def atoi(text):
    return int(text) if text.isdigit() else text

def natural_keys(text):
    '''
    alist.sort(key=natural_keys) sorts in human order
    http://nedbatchelder.com/blog/200712/human_sorting.html
    (See Toothy's implementation in the comments)
    '''
    return [ atoi(c) for c in re.split(r'(\d+)', text) ]

alist=xml_files
alist.sort(key=natural_keys)
# print(alist)

In [28]:
len(alist)

50

In [68]:
heights=[]
widths=[]
xmins=[]
ymins=[]
xmaxs=[]
ymaxs=[]

for i, xml_file in enumerate(alist):
        tree = ET.parse(xml_file)
            #print(xml_file)
        
        
        height = int(tree.findtext("./size/height"))
        width = int(tree.findtext("./size/width"))
        xmin = int(tree.findtext("./object/bndbox/xmin"))
        ymin = int(tree.findtext("./object/bndbox/ymin"))
        xmax = int(tree.findtext("./object/bndbox/xmax"))
        ymax = int(tree.findtext("./object/bndbox/ymax"))
        #heights.append(height)
        widths.append(width)
        xmins.append(xmin)
        xmaxs.append(xmax)
        ymins.append(ymin)
        ymaxs.append(ymax)
        heights.append(height)

In [70]:
heightTemplate = []
widthTemplate = []
xminTemplate = []
xmaxTemplate = []
yminTemplate = []
ymaxTemplate = []
for i in range(98):
    heightTemplate.append(0)
    widthTemplate.append(0)
    xmaxTemplate.append(0)
    xminTemplate.append(0)
    yminTemplate.append(0)
    ymaxTemplate.append(0)
# x = [1,2]
# out[:len(x)] = x

In [71]:
heightTemplate[:len(heights)]=heights
widthTemplate[:len(widths)]=widths
xminTemplate[:len(xmins)]=xmins
xmaxTemplate[:len(xmaxs)]=xmaxs
yminTemplate[:len(ymins)]=ymins
ymaxTemplate[:len(ymaxs)]=ymaxs

In [72]:
import pandas as pd
widths=pd.Series(widthTemplate)
xmins=pd.Series(xminTemplate)
xmaxs=pd.Series(xmaxTemplate)
ymins=pd.Series(yminTemplate)
ymaxs=pd.Series(ymaxTemplate)
heights=pd.Series(heightTemplate)

In [73]:
widths

0     2637
1     2569
2     2663
3      743
4      743
5      743
6      556
7      556
8     2657
9     2700
10    2676
11    2669
12    2651
13    1995
14    2645
15     556
16    2569
17    2637
18     743
19    2651
20    2676
21     556
22    2669
23     556
24    2700
25    2637
26     556
27    1995
28    2700
29     556
      ...
68       0
69       0
70       0
71       0
72       0
73       0
74       0
75       0
76       0
77       0
78       0
79       0
80       0
81       0
82       0
83       0
84       0
85       0
86       0
87       0
88       0
89       0
90       0
91       0
92       0
93       0
94       0
95       0
96       0
97       0
Length: 98, dtype: int64

In [74]:

df=pd.read_csv("./data.csv",names=["path","height","width","xmin","ymin","xmax","ymax","classtype","class"])
df.head()

,path,height,width,xmin,ymin,xmax,ymax,classtype,class
0,./tb images/Anomaly/anomaly1.jpeg,2015,2700,127,978,333,1175,anomaly,1
1,./tb images/Anomaly/anomaly2.jpeg,2015,2700,127,978,333,1175,anomaly,1
2,./tb images/Anomaly/anomaly3.jpeg,2015,2700,127,978,333,1175,anomaly,1
3,./tb images/Anomaly/anomaly4.jpeg,2015,2700,127,978,333,1175,anomaly,1
4,./tb images/Anomaly/anomaly5.jpeg,2015,2700,127,978,333,1175,anomaly,1

In [112]:
n = df.columns[1]
n

'class'

In [113]:
# heights
# # Drop that column
df.drop(n, axis = 1, inplace = True)

# # Put whatever series you want in its place
# df[n] = xmaxs

In [114]:
df[n]=newclass

In [115]:
df

,path,height,width,xmin,ymin,xmax,ymax,classtype,class
0,./tb images/Anomaly/anomaly1.jpeg,1798,2637,317,659,711,964,anomaly,1
1,./tb images/Anomaly/anomaly2.jpeg,1831,2569,1928,870,2357,1141,anomaly,1
2,./tb images/Anomaly/anomaly3.jpeg,1725,2663,2006,651,2287,886,anomaly,1
3,./tb images/Anomaly/anomaly4.jpeg,472,743,276,240,316,282,anomaly,1
4,./tb images/Anomaly/anomaly5.jpeg,472,743,274,190,317,229,anomaly,1
5,./tb images/Anomaly/anomaly6.jpeg,472,743,422,189,473,230,anomaly,1
6,./tb images/Anomaly/anomaly7.jpeg,355,556,345,163,383,197,anomaly,1
7,./tb images/Anomaly/anomaly9.jpeg,355,556,175,161,216,195,anomaly,1
8,./tb images/Anomaly/anomaly10.jpeg,1982,2657,266,371,712,765,anomaly,1
9,./tb images/Anomaly/anomaly11.jpeg,2048,2700,1980,435,2492,853,anomaly,1
10,./tb images/Anomaly/anomaly12.jpeg,2038,2676,262,1495,597,1819,anomaly,1
11,./tb images/Anomaly/anomaly13.jpeg,2010,2669,309,307,565,469,anomaly,1
12,./tb images/Anomaly/anomaly14.jpeg,2038,2651,280,1236,777,1674,anomaly,1
13,./tb images/Anomaly/anomaly15.jpeg,2676,1995,1183,292,1657,726,anomaly,1
14,./tb images/Anomaly/anomaly16.jpeg,2013,2645,1906,371,2483,800,anomaly,1
15,./tb images/Anomaly/anomaly17.jpeg,355,556,345,160,394,197,anomaly,1
16,./tb images/Anomaly/anomaly18.jpeg,1831,2569,349,546,691,788,anomaly,1
17,./tb images/Anomaly/anomaly19.jpeg,1798,2637,404,1110,782,1321,anomaly,1
18,./tb images/Anomaly/anomaly20.jpeg,472,743,471,238,519,286,anomaly,1
19,./tb images/Anomaly/anomaly21.jpeg,2038,2651,183,933,674,1327,anomaly,1
20,./tb images/Anomaly/anomaly22.jpeg,2038,2676,339,1548,571,1748,anomaly,1
21,./tb images/Anomaly/anomaly23.jpeg,355,556,344,148,381,176,anomaly,1
22,./tb images/Anomaly/anomaly24.jpeg,2010,2669,2342,734,2518,898,anomaly,1
23,./tb images/Anomaly/anomaly25.jpeg,355,556,335,203,373,231,anomaly,1
24,./tb images/Anomaly/anomaly26.jpeg,2048,2700,2048,591,2548,1038,anomaly,1
25,./tb images/Anomaly/anomaly27.jpeg,1798,2637,1958,618,2304,936,anomaly,1
26,./tb images/Anomaly/anomaly28.jpeg,355,556,344,143,381,173,anomaly,1
27,./tb images/Anomaly/anomaly29.jpeg,2676,1995,710,233,1153,573,anomaly,1
28,./tb images/Anomaly/anomaly30.jpeg,2048,2700,330,335,739,723,anomaly,1
29,./tb images/Anomaly/anomaly31.jpeg,355,556,344,186,380,209,anomaly,1
...,...,...,...,...,...,...,...,...,...
68,/tb images/Normal/normal19.jpeg,0,0,0,0,0,0,normal,0
69,/tb images/Normal/normal20.jpeg,0,0,0,0,0,0,normal,0
70,/tb images/Normal/normal21.jpeg,0,0,0,0,0,0,normal,0
71,/tb images/Normal/normal22.jpeg,0,0,0,0,0,0,normal,0
72,/tb images/Normal/normal23.jpeg,0,0,0,0,0,0,normal,0
73,/tb images/Normal/normal24.jpeg,0,0,0,0,0,0,normal,0
74,/tb images/Normal/normal25.jpeg,0,0,0,0,0,0,normal,0
75,/tb images/Normal/normal26.jpeg,0,0,0,0,0,0,normal,0
76,/tb images/Normal/normal27.jpeg,0,0,0,0,0,0,normal,0
77,/tb images/Normal/normal28.jpeg,0,0,0,0,0,0,normal,0
78,/tb images/Normal/normal29.jpeg,0,0,0,0,0,0,normal,0
79,/tb images/Normal/normal30.jpeg,0,0,0,0,0,0,normal,0
80,/tb images/Normal/normal31.jpeg,0,0,0,0,0,0,normal,0
81,/tb images/Normal/normal32.jpeg,0,0,0,0,0,0,normal,0
82,/tb images/Normal/normal33.jpeg,0,0,0,0,0,0,normal,0
83,/tb images/Normal/normal34.jpeg,0,0,0,0,0,0,normal,0
84,/tb images/Normal/normal35.jpeg,0,0,0,0,0,0,normal,0
85,/tb images/Normal/normal36.jpeg,0,0,0,0,0,0,normal,0
86,/tb images/Normal/normal37.jpeg,0,0,0,0,0,0,normal,0
87,/tb images/Normal/normal38.jpeg,0,0,0,0,0,0,normal,0
88,/tb images/Normal/normal39.jpeg,0,0,0,0,0,0,normal,0
89,/tb images/Normal/normal40.jpeg,0,0,0,0,0,0,normal,0
90,/tb images/Normal/normal41.jpeg,0,0,0,0,0,0,normal,0
91,/tb images/Normal/normal42.jpeg,0,0,0,0,0,0,normal,0
92,/tb images/Normal/normal43.jpeg,0,0,0,0,0,0,normal,0
93,/tb images/Normal/normal44.jpeg,0,0,0,0,0,0,normal,0
94,/tb images/Normal/normal45.jpeg,0,0,0,0,0,0,normal,0
95,/tb images/Normal/normal46.jpeg,0,0,0,0,0,0,normal,0
96,/tb images/Normal/normal47.jpeg,0,0,0,0,0,0,normal,0
97,/tb images/Normal/normal48.jpeg,0,0,0,0,0,0,normal,0

In [106]:
newtype=df["classtype"]
newclass=df["class"]

In [116]:
df.to_csv('./tbtrain.csv',index=False)